Acerodon.App/Service References/AcerodonService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29587/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29587/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:29587/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Acerodon.Service" />
      <xsd:import schemaLocation="http://localhost:29587/DataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Acerodon.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataService_GetCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanies" />
  </wsdl:message>
  <wsdl:message name="DataService_GetCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="DataService_GetCompanyById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyById" />
  </wsdl:message>
  <wsdl:message name="DataService_GetCompanyById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="DataService">
    <wsdl:operation name="GetCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/DataService/GetCompanies" message="tns:DataService_GetCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataService/GetCompaniesResponse" message="tns:DataService_GetCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyById">
      <wsdl:input wsaw:Action="http://tempuri.org/DataService/GetCompanyById" message="tns:DataService_GetCompanyById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataService/GetCompanyByIdResponse" message="tns:DataService_GetCompanyById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DataService" type="tns:DataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompanies">
      <soap:operation soapAction="http://tempuri.org/DataService/GetCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyById">
      <soap:operation soapAction="http://tempuri.org/DataService/GetCompanyById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_DataService" binding="tns:BasicHttpBinding_DataService">
      <soap:address location="http://localhost:29587/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>