Acerodon.App/Service References/AcerodonService/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Acerodon.GenericDataContract.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Acerodon.GenericDataContract.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29587/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ListDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeNamespace" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_ItemList" nillable="true" type="q1:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListDataContract" nillable="true" type="tns:ListDataContract" />
  <xs:complexType name="ItemDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeNamespace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Item" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemDataContract" nillable="true" type="tns:ItemDataContract" />
</xs:schema>