Acerodon.Test/Service References/AcerodonService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Acerodon.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Acerodon.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany" nillable="true" type="tns:ArrayOfCompany" />
  <xs:complexType name="Company">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="BaseClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseClass" nillable="true" type="tns:BaseClass" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Company">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>